{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block titrePage %}{% endblock %}

{% block body %}
    <div class="tp-pizzas">
        <div class="tp-pizza-listing">
            <span>{{ pizza.nom }}</span>
        </div>
    </div>
{% endblock %}