{% extends "base.html.twig" %}

{% block title %}Les pizzérias de nos régions{% endblock %}

{% block titrePage %}
    Notre test des pizzérias
{% endblock %}

{% block body %}
    <div class="tp-error-blk">
        <i class="fa fa-bomb" aria-hidden="true"></i>
        <div class="tp-error-message">{{ messageErreur }}</div>
    </div>
{% endblock %}