{% extends "base.html.twig" %}

{% block title %}Les pizzérias de nos régions{% endblock %}

{% block titrePage %}
    Notre test des pizzérias
{% endblock %}

{% block body %}
    <div class="advice-blk">
        Pour toutes questions, tous problèmes ou autres, vous pouvez à tout moment envoyer un mail à
        l’adresse <a href="mailto:dev-sdvi@sdvi.fr">dev-sdvi@sdvi.fr</a>.<br> N’oubliez pas de nous communiquer votre nom et prénom durant ces
        échanges.
    </div>
    <div class="advice-blk">
        N’hésitez pas à nous envoyer votre travail, même si vous n’avez pas complété l’intégralité du test.
    </div>
{% endblock %}
